.jumbotron {

    text-align: center;
}

.input-group-text {

    width: 60px;
}

#h1Jumbotron {
    font-weight: 700;
}

.btn {

    /* background-color:#007bff !important; */
    background-color:rgb(255, 102, 153) !important;
    color:white !important;
}

.alert {

/* background-color:#007bff !important; */
background-color:rgb(255, 102, 153) !important;
}

